.swal2-popup {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#root h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.main-container {
    display: grid;
    margin-top: 0.6%;
    grid-template-columns: auto 0.8fr auto;
    grid-template-areas: 
        "logo date-time user"
        "sidebar content-area content-area";
    transform: translateY(-8px);
    border: 2px solid rgba(128, 128, 128, 0.171);
    border-radius: 12px;
    box-shadow: 2px 20px 20px 20px rgba(128, 128, 128, 0.171);
}

.logo-dashboard {
    grid-area: logo;
    box-shadow: 0px 6px 20px 2px rgba(128, 128, 128, 0.171);
    text-align: center;
}

.logo-dashboard img {
    width: 90%;
}

.date-time {
    box-shadow: 0px 10px 20px 2px rgba(128, 128, 128, 0.171);
    grid-area: date-time;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding-right: 60%;
    padding-top: 1%;
    opacity: 85%;
    line-height: 0.5;
    animation: fadeIn 0.65s;
}

.user {
    grid-area: user;
    padding-left: 35%;
    box-shadow: 0px 10px 20px 2px rgba(128, 128, 128, 0.171);
}

.user img {
    width: 10px;
}

#btn-user {
    display: flex;
    text-align: start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#btn-user p {
    font-family: 'Segoe Ui', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    opacity: 80%;
}

#btn-user img {
    width: 18px;
    height: 18px;
    background-color: none;
    margin-top: 2%;
    margin-left: 12px
}

#user-options {
    display: none;
}

#logOut{
    position: absolute;
    top: 65px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.119)
}

#logOut p {
    font-family: 'Segoe Ui', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

#logOut img {
    width: 18px;
    height: 18px;
    background-color: none;
    margin-top: 2%;
    margin-left: 12px
}

#sidebar-container {
    background-color: #498EC9;
    padding-bottom: 120%;
    border-radius: 0px 0px 0px 12px;
}

#sidebar-container button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5%;
    padding: 1%;
    border: none;
}

#sidebar-container button:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

#usuarios-btn, #inicio-btn, #citas-btn {
    display: grid;
    grid-template-areas: 
        "img text";
    cursor: pointer;
    width: 100%;
}

#usuarios-btn img, #inicio-btn img, #citas-btn img {
    width: 44px;
    grid-area: img;
    margin-left: 2%;
}

#usuarios-btn p, #inicio-btn p, #citas-btn p {
    font-size: 2rem;
    grid-area: text;
    margin: 4%;
    text-align: start;
}

.content-area {
    grid-area: content-area;
}

.user-container {
    margin-right: 2%;
    margin-left: 2%;
}

.title-content {
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}

.title-content h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 2.1rem;
    padding-left: 4%;
    opacity: 80%;
}

.content-container {
    grid-area: buscar;
    border-radius: 2px;
    display: grid;
    grid-template-areas: 
        "buscar"
        "tables"
        "data";
    text-align: center;
    border-radius: 6px;
}

.search {
    display: flex;
    grid-area: buscar;
    background-color: #498EC9;
    margin-bottom: 1.5%;
    padding: 1%;
    border-radius: 2px 2px 0px 0px;
    justify-content: space-between;
}

.search label {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-left: 10%;
}

.search input {
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-top: 2%;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.205);
    color: white;
}

.btn-adduser {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}

.btn-adduser:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

#options {
    font-size: 3rem;
    padding: 0%;
    padding-bottom: 1%;
    pointer-events: none;
}

.tables,tbody {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 10px 10px 10px 10px;
    border-spacing: 0;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-bottom: none;
    border-right: none;
}

.tables-columns th {
    border-right: 1px solid rgba(128, 128, 128, 0.438);
}

.tables img {
    width: 24px;
    height: 24px;
}

.tables th {
    pointer-events: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    background-color: rgba(128, 128, 128, 0.177);
}

.tables-data img {
    cursor: pointer;
}

.tables tbody td {
    border-right: 1px solid rgba(128, 128, 128, 0.438);
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    padding: 0.5%;
}

.edit-btn, .delete-btn {
    cursor: pointer;
}

.adduser-container {
    display: block;
    grid-template-areas: 
        "title title"
        "form form"
        "buttons buttons";
    margin-left: 30%;
    margin-right: 45%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 5vh;
    width: 30%;
    height: 80%;
    overflow-y: scroll;
    animation: fadeIn 0.65s;
}

.adduser-title {
    position: sticky;
    top: 0;
    font-size: 1rem;
    background-color: #498EC9;
    color: white;
    margin: 0;
    padding: 1px;
    padding-bottom: 1;
    grid-area: title;
}

.adduser-title h2 {
    margin-left: 3%;
}

.adduser-form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    font-weight: 600;
    grid-area: form;
}

.adduser-form label {
    color: #498EC9;
    margin-top: 5%;
}

.adduser-form p {
    color: red;
    font-size: 1rem;
    display: none;
}

.adduser-form input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 3%;
    background: none;
    box-shadow: rgba(128, 128, 128, 0.452) 0px 1px 0px 0px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

.adduser-form img {
    width: 34px;
    height: 34px;
    border: 1px solid black;
}

.adduser-form select {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-right: 69%;
    text-align: start
}

.buttons {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 4%;
    background-color: white;
    border-top: 1px solid rgba(26, 26, 26, 0.452);
    text-align: end;
}

.btn-saveUser {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2px;
    font-size: 1.3rem;
    border: none;
    background-color: #498EC9;
    color: white;
    margin-right: 10%;
    cursor: pointer;
}

.cancel {
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2px;
    font-size: 1.3rem;
    border: none;
    background-color: white;
    margin-right: 2%;
    cursor: pointer;
}

.overlay {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}